﻿@using SmsDelivery.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="wrapper">

        <div class="main-panel" style="width: 100%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <h4 class="text-center">Sms Rassylka</h4>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="header">
                                    <h4 class="text-center title">Enter your credentials to login</h4>
                                </div>
                                <div class="content">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        <div class="row">
                                            <div class="text-center col-md-6" style="width: 100%">
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="text-center col-md-6" style="width: 100%">
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Log In</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <p class="text-center">
                                            @Html.ActionLink("Register as a new user", "Register")
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_Footer")

        </div>
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

</html>