﻿@using SmsDelivery.Helpers
@model SmsDelivery.ViewModels.SubscriberGroupViewModel

@using (Html.BeginCollectionItem("SubscriberGroupViews"))
{
    
    <div class="form-group">
        <div class="col-lg-10">
            @Html.DropDownListFor(model => model.SubscriberGroupId, Model.SubscriberGroups, "Choose group", new { @class = "form-control", style="float: left; width: 95%;" })
            @Html.ValidationMessageFor(model => model.SubscriberGroupId)
            <label class="pull-right">
                <a href="#" onclick="$(this).parent().parent().parent().remove();">x</a>
            </label>
        </div>
    </div>
    
}