﻿@using PagedList.Mvc
@using SmsDelivery.Helpers
@using SmsDelivery.Models
@using SmsDelivery.ViewModels
@model SmsDelivery.ViewModels.CampaignViewModel

<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Create a new campaign</h4>
            <hr/>
        </div>
        <div class="content table-responsive table-full-width mt-2">
            @using (Html.BeginForm("Create", "Campaigns", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Campaign name")
                            @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Templates")
                            @Html.DropDownListFor(model => model.TemplateId, (IEnumerable<SelectListItem>) ViewBag.Templates, "Choose template", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.TemplateId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Recipients", new { @class = "col-lg-4 control-label" })
                        <div id="subscriberGroups">
                            @foreach (SubscriberGroupViewModel group in Model.SubscriberGroupViews)
                            {
                                Html.RenderPartial("_SubscriberGroupEntry", group);
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2">
                                <a class="btn btn-primary" id="addAnother" href="#">Добавить группу</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.HiddenFor(model => model.SaveSenderNameId)
                        <div class="form-group">
                            @Html.Label("Sender")
                            @*@Html.TextBoxFor(model => model.Sender, new { @class = "form-control", data_autocomplete_source = Url.Action("SenderNamesSearch", "Campaigns") })*@
                            @Html.AutocompleteFor(model => model.Sender, model => model.SaveSenderNameId, "SenderNamesSearch", "Campaigns", false)
                        </div>
                    </div>
                    <div class="col-md-4 mt-25px">
                        <span>Save sender name</span>
                        @Html.CheckBoxFor(model => model.CreateSenderName, new {@class = "switch-plain"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.Label("Message")
                            @Html.TextAreaFor(model => model.Body, new {@class = "form-control", @rows = "6" })
                            @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-25px">
                        <span>Schedule campaign</span>
                        @Html.CheckBoxFor(model => model.ScheduleDate, new { @class = "switch-plain" })
                    </div>
                    <div class="col-md-6 mt-20px">
                        <div class='form-group'>
                            @Html.TextBoxFor(model => model.ScheduledDate, new { @class = "form-control datetimepicker", placeholder = "Choose date and time" })
                            @Html.ValidationMessageFor(model => model.ScheduledDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-10">
                    <button type="submit" class="btn btn-default">Create campaign</button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/campaign-create.js")
    @Scripts.Render("~/Scripts/datetimepicker-init.js")
    @Scripts.Render("~/Scripts/autocomplete-init.js")
}