﻿@using PagedList.Mvc
@model SmsDelivery.Models.FilteringAndSorting.SubscriberGroupsFilteredModel

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Subscribers</h4>
            <div class="pt-15px">
                <div class="col-md-3">
                    <a href="#" data-toggle="modal" data-target="#subscriberGroupCreateModal" class="text-uppercase small"><i class="ti-plus"></i><b style="padding-left: 10px">New Group</b></a>
                </div>
            </div>
        </div>
        <div class="content table-responsive table-full-width">
            <div class="pt-15px">
                <div class="col-md-4">
                    @using (Html.BeginForm("Index", "SubscriberGroups", FormMethod.Post, new { id = "subscriberGroupSearchForm" }))
                    {
                        @Html.HiddenFor(model => model.PageSize)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control", placeholder = "Search by name..." })
                            <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
                        </div>
                    }
                </div>
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Merge Groups</button>
                </div>*@
                <div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase delete-checked-groups" data-url="@Url.Action("DeleteSelected")" style="font-size: 12px">Delete</button>
                </div>
                @*<div class="col-md-3 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Start Campaing</button>
                </div>*@
            </div>
            <div class="pt-55px">
                <table class="table table-hover">
                    <thead>
                    <th></th>
                    <th>Group Name</th>
                    <th>Contacts</th>
                    <th>Note</th>
                    </thead>
                    <tbody>
                        @if (Model.SubscriberGroups.Count > 0)
                        {
                            foreach (var item in Model.SubscriberGroups)
                            {
                                <tr>
                                    <td><input data-id="@item.Id" id="ToDelete" name="ToDelete" type="checkbox" value="true"></td>
                                    <td>@item.Name</td>
                                    <td>@item.Subscribers.Count</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center" id="noDataRow">No data</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pt-15px">
                @*<div class="col-md-3">Выбрано 3 записи</div>*@
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Merge Groups</button>
                </div>*@
                <div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase delete-checked-groups" data-url="@Url.Action("DeleteSelected")" style="font-size: 12px">Delete</button>
                </div>
                @*<div class="col-md-3 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Start Campaing</button>
                </div>*@
            </div>

        </div>
    </div>
    <div class="pt-15px">
        <div class="pull-right col-md-3">
            @Html.PagedListPager(Model.SubscriberGroups, page => Url.Action("Index", new { page, Model.SearchText, Model.PageSize }))
        </div>
    </div>
</div>
@section modal{
    @Html.Action("CreateModal")
}
@section scripts
{
    @Scripts.Render("/Scripts/subscriber-group.js")
}
