﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Sidebar")
    }
    <div class="main-panel" @(User.Identity.IsAuthenticated ? "" : "style=\"width: 100%;\"")>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_NavigationBar")
        }
        <div class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/bootbox.min.js")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/Scripts/typeahead.mvc.model.js")
    @RenderSection("scripts", required: false)
    @RenderSection("modal", false)
</body>
</html>

