﻿@using SmsDelivery.Helpers
<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")" class="simple-text">
                Sms Rassylka
            </a>
        </div>

        <ul class="nav">
            <li class="@Html.IsActive(actions: "Index", controllers: "Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="ti-pie-chart"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "Campaigns")">
                <a href="@Url.Action("Index", "Campaigns")">
                    <i class="ti-user"></i>
                    <p>Campaigns</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "Subscribers")">
                <a href="@Url.Action("Index", "Subscribers")">
                    <i class="ti-user"></i>
                    <p>Subscribers</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "SubscriberGroups")">
                <a href="@Url.Action("Index", "SubscriberGroups")">
                    <i class="ti-user"></i>
                    <p>Subscriber Groups</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "Profile")">
                <a href="@Url.Action("Index", "Profile")">
                    <i class="ti-user"></i>
                    <p>Edit Profile</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "Financials")">
                <a href="@Url.Action("Index", "Financials")">
                    <i class="ti-user"></i>
                    <p>Financials</p>
                </a>
            </li>
            <li class="@Html.IsActive(actions: "Index", controllers: "Templates")">
                <a href="@Url.Action("Index", "Templates")">
                    <i class="ti-email"></i>
                    <p>Templates </p>
                </a>
            </li>
        </ul>
    </div>
</div>

