﻿@using PagedList.Mvc
@model SmsDelivery.Models.FilteringAndSorting.SubscribersFilteredModel

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Subscribers</h4>
            <div class="pt-15px">
                <div class="col-md-3">
                    <a href="#" data-toggle="modal" data-target="#subscriberCreateModal" class="text-uppercase small"><i class="ti-plus"></i><b style="padding-left: 10px">New Subscriber</b></a>
                </div>
                @*<div class="col-md-3">
                    <a href="#" class="text-uppercase small"><i class="ti-angle-down"></i><b style="padding-left: 10px">Filter By Group</b></a>
                </div>*@
            </div>
            @*<div style="padding-top: 15px">
                
            </div>*@
        </div>
        <div class="content table-responsive table-full-width mt-2">
            <div class="pt-15px">
                <div class="col-md-4">
                    @using (Html.BeginForm("Index", "Subscribers", FormMethod.Post, new {id = "subscriberSearchForm"}))
                    {
                        @Html.HiddenFor(model => model.PageSize)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.SearchText, new {@class = "form-control", placeholder = "Search by name..."})
                            <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
                        </div>
                    }
                </div>
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Move To Group</button>
                </div>*@
                <div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase delete-checked-subscribers" data-url="@Url.Action("DeleteSelected")" style="font-size: 12px">Delete</button>
                </div>
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Send Sms</button>
                </div>*@
            </div>
            <div class="pt-55px">
                <table class="table table-hover">
                    <thead>
                    <th></th>
                    <th>Phone</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Group</th>
                    </thead>
                    <tbody>
                    @if (Model.Subscribers.Count > 0)
                    {
                        foreach (var item in Model.Subscribers)
                        {
                            <tr>
                                <td><input data-id="@item.Id" id="ToDelete" name="ToDelete" type="checkbox" value="true"></td>
                                <td>@item.Phone</td>
                                <td>@item.Name @item.Surname</td>
                                <td>@item.Email</td>
                                <td>@item.SubscriberGroup.Name</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center" id="noDataRow">No data</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="pt-15px">
                @*<div class="col-md-3">Выбрано 3 записи</div>*@
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Move To Group</button>
                </div>*@
                <div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase delete-checked-subscribers" data-url="@Url.Action("DeleteSelected")" style="font-size: 12px">Delete</button>
                </div>
                @*<div class="col-md-2 pull-right">
                    <button class="btn btn-default text-uppercase" style="font-size: 12px">Send Sms</button>
                </div>*@
            </div>
            
        </div>
    </div>
    <div class="pt-15px">
        <div class="pull-right col-md-3">
            @Html.PagedListPager(Model.Subscribers, page => Url.Action("Index", new {page, Model.SearchText, Model.PageSize}))
        </div>
    </div>
</div>
@section modal{
    @Html.Action("GetCreatePartial")
}
@section scripts
{
    @Scripts.Render("/Scripts/subscriber.js")
}


