﻿@model SmsDelivery.Model.Payment


<div class="card card-plain">
    <div class="header">
        <h4 class="title">Make payment</h4>
        <hr />
    </div>
    <div class="content">
        @using (Html.BeginForm("CreatePayment", "Financials", FormMethod.Post, new { id = "paymentCreateForm", data_url = Url.Action("CreatePayment") }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
            <div class="col-md-6">
                <table>
                    <tbody>
                    <tr>
                        <td class="col-md-6">Enter amount</td>
                        <td class="pt-10px pb-10px">
                            @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control", placeholder = "Enter amount"}})
                            @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    @*<tr>
                            <td rowspan="3">Payment options</td>
                            <td class="pt-10px pb-10px">@Html.RadioButton("Credit Card", true)<span>Credit Card</span></td>
                        </tr>*@
                    @*<tr>
                        <td class="pt-10px pb-10px">@Html.RadioButton("Paypal", false)<span>Paypal</span></td>
                    </tr>
                    <tr>
                        <td class="pt-10px pb-10px">@Html.RadioButton("Bank transfer", false)<span>Bank transfer</span></td>
                    </tr>*@

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">

                @*<table>
                    <tbody>
                    <tr>
                        <td colspan="2" class="pt-10px pb-10px">Summary</td>
                    </tr>
                    <tr class="col-md-10">
                        <td class="pull-left pt-10px pb-10px">Total(excl VAT)</td>
                        <td class="pull-right pt-10px pb-10px"><b>$ 300</b></td>
                    </tr>
                    <tr class="col-md-10 bt-1px">
                        <td class="pull-left pt-10px pb-10px">Total VAT(21%)</td>
                        <td class="pull-right pt-10px pb-10px"><b>$ 300</b></td>
                    </tr>
                    <tr class="col-md-10 bt-1px">
                        <td class="pull-left pt-10px pb-10px">Total(incl VAT)</td>
                        <td class="pull-right pt-10px pb-10px"><b>$ 300</b></td>
                    </tr>
                    </tbody>
                </table>*@
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill btn-wd">Save Changes</button>
        </div>
        }
        
    </div>
</div>


