﻿@using SmsDelivery.Model
@using SmsDelivery.ViewModels
@model IEnumerable<PaymentViewModel>

<div class="card card-plain">
    <div class="header">
        <h4 class="title">Payments history</h4>
        <hr />
    </div>
    <div class="content table-responsive table-full-width payments-history-container">
        <table class="table table-hover">
            <thead>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Details</th>
            <th>Status</th>
            </thead>
            <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PaymentDate.ToString("g")</td>
                        <td>@item.Amount</td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.Details</td>
                        <td>@item.Status</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center" id="noPaymentsDataRow">No data</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>

