﻿@model IEnumerable<SmsDelivery.ViewModels.PaymentInstrumentViewModel>
<div class="card card-plain">
    <div class="header">
        <h4 class="title">Make payment</h4>
        <hr />
    </div>
    <div class="content payment-methods-container">
        <div class="row">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    @Html.DisplayFor(model => item)
                }
            }
            else
            {
                <div class="text-center" id="paymentMethodsNoData"><p>No data</p></div>
            }
        </div>
        <input type="hidden" id="paymentMethodDeleteUrl" data-url="@Url.Action("DeletePaymentMethod")"/>
        <input type="hidden" id="paymentMethodMakeMainUrl" data-url="@Url.Action("MakeMainPaymentMethod")"/>
        <div class="text-center">
            <button type="submit" data-toggle="modal" data-target="#paymentMethodCreateModal" class="btn btn-info btn-fill btn-wd">New Payment method</button>
        </div>
    </div>
</div>