﻿<div class="col-md-12 pt-15px pb-10px">
    @Html.Action("NewPayment")
</div>
<div class="col-md-12 pt-15px pb-10px">
    @Html.Action("PaymentsHistory")
</div>
<div class="col-md-12 pt-15px pb-10px">
    @Html.Action("PaymentMethods")
</div>
@section modal
{
    @Html.Partial("_PaymentMethodCreateModal")
}
@section scripts{
    @Scripts.Render("~/Scripts/payment.js")
}