﻿@model SmsDelivery.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="card card-plain">
    <div class="header">
        <h4 class="title">Password Update</h4>
        <hr />
    </div>
    <div class="content">

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { id = "changePasswordForm", data_url = Url.Action("ChangePassword") }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Old Password")
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Old Password" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("New Password")
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pull-right">
                <div class="form-group">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill btn-wd">Save Changes</button>
        </div>
    }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}