﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.login-panel {
    background-color: #f4f3ef;
    position: relative;
    z-index: 2;
    float: right;
    width: 100%;
    min-height: 100%;
}

.pt-15px {
    padding-top: 15px;
}

.pt-55px {
    padding-top: 55px;
}

.pt-10px {
    padding-top: 10px;
}

.pb-10px {
    padding-bottom: 10px;
}
.bt-1px {
    border-top: 1px solid #ddd;
}

.mt-25px {
    margin-top: 25px;
}
.mt-20px {
    margin-top: 20px;
}
