﻿@model SmsDelivery.ViewModels.PaymentInstrumentViewModel
<div class="col-lg-4 col-sm-6 payment-method-div">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-md-5">
                    <div class="numbers">
                        <p class="text-center">Account:</p>
                        <p class="text-center"><b>@Model.Account</b></p>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    @if (Model.IsMain)
                    {
                        <a href="#" data-id="@Model.Id" data-ismain="true" class="payment-method-primary text-uppercase">Primary</a>
                    }
                    else
                    {
                        <a href="#" data-id="@Model.Id" data-ismain="false" class="payment-method-primary text-uppercase">Make Primary</a>
                    }
                </div>
                <div class="col-md-2 text-center">
                    <a href="#" data-id="@Model.Id" class="delete-paymentmethod text-uppercase"><div class="text-center">
                        <i class="ti-close"></i>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>